body {
    margin:0;
    box-sizing: border-box;
    background-color: #151515;
}

.box {
    margin: auto;
    background-color: white;
    height: auto;
    max-width: 600px;
    width: 10%;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stats p {
    padding-right: 3px;
}